{% extends "blog/base.html" %}
{% load static %}
{% block title %}Kenya is a Country in East Africa{% endblock %}
{% block content %}

 <!-- Post detail starts here -->
  
 <div class="story-header">
    <div class="top-story-header">
      <h1>Kenya is a Country in East Africa</h1>
    </div>
    <div class="story-banner">
      <div class="ms-image">
        
        <img src="{% static 'img/imageone.jpg' %}" alt="Loading Image">
        
      </div>
    </div>
  </div>
  
  <div class="story">
    <div></div>
    <div class="postcontent">
      
      <p>By <strong>John Kerry</strong></p>
      
      <p>21st March 2022</p>
    </div>
    <div></div>
  </div>
  
  <div class="story">
    <div></div>
    <div class="postcontent">
      <p><strong>Kenya has more than 40 million people</strong></p>
      <p>Lets begin</p>
      
      <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
      
     
      <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
      
    
      <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
    
    </div>
    <div></div>
  </div>
  
  <div class="story-banner">
    <div class="ms-image">
      
      <img src="{% static 'img/imageone.jpg' %}" alt="Loading Image">
     
    </div>
  </div>
  
  <div class="story">
    <div></div>
    <div class="postcontent">
        <p><strong>Kenya has more than 40 million people</strong></p>
        <p>Lets begin</p>
        
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
        
       
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
        
      
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
      
      </div>
    <div></div>
  </div>
  
  
  
  <div class="story-banner">
    <div class="ms-image">
      
      <img src="{% static 'img/imageone.jpg' %}" alt="Loading Image">
     
    </div>
  </div>
  
  
  <div class="story">
    <div></div>
    <div class="postcontent">
        <p><strong>Kenya has more than 40 million people</strong></p>
        <p>Lets begin</p>
        
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
        
       
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
        
      
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
      
      </div>
    <div></div>
  </div>
  
  
  
  <div class="story">
    <div></div>
    <div class="postcontent">
        <p><strong>Kenya has more than 40 million people</strong></p>
        <p>Lets begin</p>
        
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
        
       
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
        
      
        <p>Well, okay, we need a little bit of history here. After the Chinese civil war ended in 1949, the world was left with two Chinese governments. The winner was the People’s Republic of China, which controls the mainland of China. And the loser was the Republic of China, which controls Taiwan. And these two governments contended relentlessly for international recognition, and each insisted that other countries like the United States had to choose either one or the other—we couldn’t have two Chinas. So, in 1978 and 1979, the United States decided for strategic reasons that it had to end its past relationship with the Republic of China and shift to the People’s Republic of China.</p>
      
      </div>
    <div></div>
  </div>
  
  


<!-- End of Posts-->

{% endblock content %}